*{
  font-family: "Poppins", sans;
}

:root {
    --bg-dark-gray: #2E2E2E;
    --primary-blue: #007BFF;
    --accent-purple: #9B59B6;
    --accent-lime-green: #2ECC71;
    --accent-orange: #F39C12;
    --text-white: #FFFFFF;
    --text-light-gray: #BDC3C7;
    --error-red: #E74C3C;
}